<!DOCTYPE HTML>

<html>


     <head>
                <% include ./partials/header %>
        </head>
        <body>
                <% include ./partials/mainBanner %>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
                                       <div class="flex flex-2">

					<h3> Here are the latest transactions on your bank account </h3>

<						<table class="table table-inverse">
      							<thead>
        							<tr>
							          <th>Bank Transaction Reference</th>
							          <th>Bank Name</th>
							          <th>Transaction Date</th>
							          <th>Amount</th>
							          <th>Currency</th>
							          <th>Transaction Type</th>

       								 </tr>
						      </thead>

					       <tbody>
        					<% for(var i=0; i < bankTransactions. length; i++) { %>
					       <tr>

         <td><%= bankTransactions[i].BankTransactionId %></td>
         <td><%= bankTransactions[i].BankCode %></td>
         <td><%= bankTransactions[i].TransactionDate.toDateString() %></td>
         <td><%= bankTransactions[i].Amount %></td>
         <td><%= bankTransactions[i].CurrencyCode %></td>
         <td><%= bankTransactions[i].TransactionType %></td>


       						</tr>
    						<% } %>
					      </tbody>



				</div>
				</div>
			</section>

	</body>
</html>
