<!DOCTYPE HTML>

<html>
     <head>
                <% include ./partials/header %>
        </head>
        <body>
                <% include ./partials/mainBanner %>



		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
                                       <div class="flex flex-2">

					<h3> Here are the details of the Invoice </h3>

<						<table class="table table-inverse">
      							<thead>
        							<tr>
							          <th>Invoice Line Id</th>
							          <th>Product Id</th>
							          <th>Product Description</th>
							          <th>Unit Price</th>
							          <th>Quantity</th>
							          <th>Total Line Amount</th>

       								 </tr>
						      </thead>

					       <tbody>
        					<% for(var i=0; i < invoiceDetails.length; i++) { %>
					       <tr>

         <td><%= invoiceDetails[i].InvoiceLineId %></td>
         <td><%= invoiceDetails[i].ProductId %></td>
         <td><%= invoiceDetails[i].ProductDescription %></td>
         <td><%= invoiceDetails[i].UnitPrice %></td>
         <td><%= invoiceDetails[i].Quantity %></td>
         <td><%= invoiceDetails[i].TotalLineAmount %></td>


       						</tr>
    						<% } %>
					      </tbody>



				</div>
				</div>
			</section>


</body>
</html>
